extends layout

block content
  h1= title
  p Welcome to Peruru Ambica  #{title}
  - var image_names = ["Almond.jpg","Cashew.jpg","Peanuts.jpg","Pecans.jpg","Walnuts.jpg"]
  - var i =0;
  - while(i<3){
     - var randindex = Math.floor(Math.random()*5)
     - img = "/images/"+image_names[randindex]
     - i++
     img(src=img,  height="300px",width="300px",alt="alt")     
  -}